html, body, .root {
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  margin:0;
  overflow: hidden;
}

.App {
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

.questionId {
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgba(255,255,255,0.5);
  padding: 1vw;
  font-weight: bold;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  transition: opacity 1s;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 100;
}
.complete {
  background-image: url(./complete.png);
}
.timeout {
  background-image: url(./timeout.png);
}
.logo {
  height: 4rem;
  position: absolute;
  bottom: 2rem;
  left: auto;
  right: 4rem;
}
.modal .logo {
  height: 3rem;
  left: 0;
  right: 0;
  bottom: 2rem;
}
.logo img {
  height: 100%;
  margin: 0 auto;
}
.completeTime {
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

.onscreenkeyboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.onscreenkeyboard .alphabets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.onscreenkeyboard .alphabets button {
  margin-top: 5rem;
  border: 0;
  background-color: rgba(255,255,255,0.7);
  padding: 0;
  border-radius: 5px;
  font-size:2.5vw;
  width: 3vw;
  height: 3vw;
  font-family: consolas;
}

.onscreenkeyboard .alphabets button.revealed {
  opacity: 0.2;
}

.onscreenkeyboard .solved {
  margin-top: 2vw;
  border: 0;
  padding: 0.5vw;
  border-radius: 5px;
  font-size:1vw;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  opacity: 0.7;
}

.main-logo img {
  height: 5vw;
  margin-bottom: 4vw;
}
.suiteGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1vw;
  width: 51vw;
}

.suiteButton {
  width: 100%;
  height: 7vw;
  background-color: rgba(255,255,255,0.8);
  border-radius: 0.3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #2199e8;
  text-align: center;
  font-size: 1.7vw;
}

.suiteButton:link, .suiteButton:visited, .suiteButton:hover, .suiteButton:active {
  color: #2199e8;
}

.suiteButton img {
  height: 60%;
  padding: 0 2vw;
}

/*
.imageWorkforce {
  background-image: url(./workforce.png);
  background-size: cover;
  width: 20vw;
  height: 20vw;
}

.buttonWorkforce {
  background-color: #fff;
  color: 
}*/