body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  text-align: left;
  height: 7px;
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  font-family: Consolas;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
}

.penalties {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.penalty:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  background-color: red;
  content: ' ';
}
.penalty {
  padding-top: 1rem;
  font-weight: bold;
  position: absolute;
  animation-duration: 2s;
  animation-name: slideout;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: red;
}

@keyframes slideout {
  from {
    top: 0rem;
    opacity: 1; 
  }

  to {
    top: 3rem;
    opacity: 0;
  }
}

.wof-board {
  display: grid;
  width: 100%;
  font-size: 4vw;
  font-family: 'Arial Black';
  font-weight: bold;
}

.wof-board .boardLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0;
}

.wof-board .cell {
  border: 0.3vw solid #000;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  background-color: #000;
  height: 5vw;
  width: 4vw;
  margin: 0 0.3rem;
}

.wof-board .cell > .inner {
  background-color: #fff;
  line-height: 5vw;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s 0.5s;
  -webkit-transition: transform 0.8s 0.5s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.wof-board .cell.reveal > .inner {
  background-color: #000099;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.wof-board .cell > .inner > .back {
  position: absolute;
  color: #000;
  width: 100%;
  height: 100%;
  -webkit-perspective: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  visibility:visible;
  background-color: #fff;
}

.wof-board .cell.blank {
  background-color: transparent;
  border: 0;
}

.wof-board .cell.empty {
  background-color: transparent;
  border: 0;
}